{% extends 'blog/base.html' %}
{% load static %}


{% block title %}
{{ title }}
{% endblock %}


{% block style %}
{% endblock style %}


{% block profile %}
{{ request.user.username }}
{% endblock %}

{% block content %}
<h2 class="main_page"><b>Главная страница. Категории</b></h2>
<br>
<hr>
<div class="categories">
    {% for c in cats %}
        <div class="cat">
            <a href="#" style="text-decoration: none; color: #283044; "><h5>{{ c.name }}</h5></a>
        </div>
    {% endfor %}
</div>
<hr>
<br>
<h2 class="main_page"><b>Все посты Мырзатай Эльдара</b></h2>
{% for p in posts %}
<div class="posts">
    <div class="photo">
        <img src="{{ p.image.url }}" style="margin: 25px;" alt="" width="350" height="350">
    </div>
    <div class="text">
        <h4 style="margin-left: 40px; margin-top: 25px;">{{ p.title }}</h4>
    </div>
</div>
<br>
{% endfor %}
{% endblock content %}